*{
    box-sizing: border-box;
    /* background-color: #fff; */
    margin: 0px ;
    font-family: sans-serif;
}

/* html {
    font-family: sans-serif;
    /* padding: 0; */
    /* background-color: #EEEEEE; */
    /* border-image: url(rounded-edge.png) 25% repeat; */
     /* border-width: 25px; 
} */
    
.container {
    background-color: #fff;
    /* max-width: 100%; */
    /* height: 20px; */
    /* margin-left: auto; */
    /* margin-right: auto;*/
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.maria {
    /* margin: auto; */
    align-items: center;
    /* text-align: center; */
    margin-left: 30%

}

.content{
    background-color: #EEEEEE;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 16px 5px 16px 5px;
    border-radius: 5px;
}

#main {
    text-align: center;
    /* background-color: #EEEEEE; */
    /* max-width: 100%; */
}
h1 {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 0px;
    padding-top: 2rem;
    
}
#tittle {
    font-size: small;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
#img-div {
    background-color: #FFFFFF;
    padding: 40PX;
    margin: 10px;
    max-width: 100%;
    overflow: hidden;
}

#mg-div img{
    /* width: 100%; */
}

#img-caption {
    font-size: 11px;
    background-color: #FFFFFF;
}
ul {
     /* position: relative;
     display: flex;
     flex-direction: column;
     align-items: center; */
     /* left: 25%; */
     font-size: 11px;
     margin: 20px;
     padding-top: 10px;
     font-family: sans-serif;
} 

ul, li{
    /* display: inline; */
}
#tribute-info {
    text-align: center;
    font-weight: 800;
    margin-top: 30px;
    font-size: 15px;
}
a {
    font-weight: bolder;
    text-decoration: underline;
    opacity: 0.5;
    font-size: 12px;
}
.first {
    /* position: relative; */
    /* left: 30%; */
    font-size: 11px;
    margin-top: 10px;
    font-style: oblique;
    text-align: center;
}
.second {
    /* position: relative; */
    /* left: 30%; */
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
    text-align: center;

}
#footer {
    position: relative;
    /* left: 30%; */
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    text-align: center;
}
span {
    font-weight: 900;
}
input[type="submit"] {
    width: 100%;
    height: 20px;
    background-color: lightgreen; 
    color: #FFF;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 0px;
    font-size: 15px;
    text-align: center;
  }